* {
    margin: 0;
    padding: 0;
  }
.suggestion{
    box-sizing: border-box;
    border: 1px solid ButtonShadow;
    background-color: Window;
    position: absolute;
    overflow: auto;
    margin-left: 1px;
    margin: 0 0 0 10px;
    
    z-index: 1000;
    width: 280px;
  
    
}
.blue-outline{
    color: #757575;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
input.blue-outline{
    border: solid 1px #c4c4c4;
    border-radius: 1px;
    height: 32px;
    margin: 0 0 0 10px;
    padding-left: 5px;
    width:280px;
}
.dd-wrapper{
    width: 340px;
    min-height: 1px;
    position: relative;
    float: left;
}
.list-item{
    list-style: none;
    padding: 12px 0 12px 12px;
    margin: 0;
}
.Error{
    color: red;
}